<?xml version="1.0" encoding="UTF-8"?>
<suite name="All Test Suite">
    <test verbose="2" name="/Users/testuser/eclipse-workspace/learning-rest-assured">
        <classes>
            <class name="org.restassuredtests.BugsApiTests">
                <methods>
                    <include name="testPOSTCreateBugOne"/>
                    <include name="testPOSTCreateBugTwo"/>
                    <include name="testPOSTCreateBugThree"/>
                    <include name="testGETRetrieveBugs"/>
                    <include name="testPUTUpdateBugOne"/>
                    <include name="testPATCHUpdateBugTwo"/>
                    <include name="testDELETEAllBugs"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>